* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 30px;
  background-color: #fdfdfd;
  max-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
}

nav {
  position: relative;
}

.intro_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  display: flex;
  height: 77vh;
  flex-direction: column;
  justify-content: center;
  font-size: 5em;
  line-height: 1em;
}
.greetings {
  font-weight: 300;
  color: #5f5e5e;
}
.first_name,
.last_name {
  color: #1a1a1a;
  font-weight: 700;
}

.info {
  font-weight: 300;
  font-size: 0.47em;
  line-height: 1em;
  position: relative;
  top: -40px;
  left: 230px;
  color: #1a1a1a;
}

.bottom_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.contact_btn {
  text-decoration: none;
  color: #fdfdfd;
  background-color: #a2030e;
  font-size: 1em;
  padding: 10px 30px;
  border-radius: 50px;
}
